<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>
          Latitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{ address.latitude }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{ address.longitude }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.country}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.state}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.city}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.neighborhood}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.street}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{address.zipCode}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Próximo ao número {{address.number}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div style="height: 350px;" *ngIf="showMap">
    <map [address]="address" [title]="address.complete"></map>
  </div>
</ion-content>